@import url('https://fonts.googleapis.com/css2?family=Asap&family=Coda&display=swap');

/*  asap sans-serif
    coda cursive
*/

*{
    font-family:'Asap', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #e5bfbe;
    color: #FFF;
}

h1{
    text-align: center;
    font-family: 'Coda', cursive;
    font-size: 48px;
    padding-top: 80px;
    color: #ffffff;
    text-shadow: 0px 4px 5px rgba(255, 94, 0, 0.49);
}

.calc-body{
    position: absolute;
    text-align: center;
    width: 374px;
    height: 640px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(243, 245, 245, 0.62);
    box-sizing: border-box;
}

.res-box {
    background-color: #fff2f2e5;
    color: #585858;
    font: 'Asap', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 57px 0px 57px 0px;
}

.calc-button {
    font-family: 'Asap', sans-serif;
    font-size: 48px;
    color: #585858;
    background-color: #f5f5f393;
    height: 90px;
    width: 90px;
    border: none;
    transition-duration: 0.4s;
}

.calc-button:hover {
    background-color: rgba(243, 245, 245, 0.973);
}

footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}